<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Resources</title>
    <link rel = "icon" href = "/img/imageedit_5_6041780000.png" 
        type = "image/x-icon">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/db">Home</a>
                <a class="nav-item nav-link active" href="/db/admin/projects">Projects</a>
                <a class="nav-item nav-link active" href="/db/team">Team </a>
                <a class="nav-item nav-link active" href="/db/alum">Alumni</a>
                <a class="nav-item nav-link active" href="/db/resources">Resources</a>
                <a class="nav-item nav-link active" href="/db/events">Events</a>
                <a class="nav-item nav-link active" href="/db/achievements">Achievements</a>
              </div>
            </div>
          </nav>
            <main>
        <h1 class="mb-4">Resources Database</h1>
        <a href='/db' class="btn btn-primary">Back to main database</a>
        <a href='/db/resources/add' class="btn btn-success">Add Resource</a>
        <% members.forEach(member=>{ %>
            <div class="card mt-4">
                <%= member.name %><br>
                 <%= member.type %><br>
                <%= member.drive_link %>,
                <%= member.youtube_link %><br>
                <%= member.id %>
            </div>
            <br>
            <form action='/db/resources/<%= member.id %>?_method=DELETE' method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <a href='/db/resources/edit/<%= member.id %>' class="btn btn-primary">EDIT</a>
        <% }) %>
        </main>
</body>
</html>